<!--
  Generated template for the HalaqaListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton="false" color="danger">
      <ion-buttons end>

        <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>

        <button ion-button menuToggle  class="button5" >
          <ion-icon name="menu"></ion-icon>
        </button>

      </ion-buttons>
    <ion-title>halaqa-list</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="center" >
    <h3 style="color: slategrey;  text-transform: uppercase"> <strong> <i> {{Institute.InstituteName}} </i></strong></h3>
  </div>
  <ion-searchbar *ngIf="isSearchbarOpened" [(ngModel)]="searchQuery" showCancelButton="true" (keyup)="onSearch($event)"
                 (ionCancel)="isSearchbarOpened=false">  </ion-searchbar>


  <div align="center">Halaqaty</div>

  <ion-scroll scrollY="true" style="height:60%">
    <ion-item no-lines>
      <ion-list>

        <!-- <div fxLayout="column"  align="center"> -->
        <ion-item-sliding *ngFor="let Halaqa of ListHalaqa">
          <ion-item color="light">
            <!-- style="width:60%" -->
            <button ion-button color="gold" (click)="GoToClassStudent(Halaqa.HalaqaName,Halaqa.idhalaqa)" block=true>
              {{ Halaqa.HalaqaName }}
            </button>
          </ion-item>

          <ion-item-options>

            <button ion-button color="secondary" (click)="infoItem(item)">
              <ion-icon name="information-circle"></ion-icon> Info</button>
            <button ion-button (click)="editItem(Halaqa.idhalaqa)">
              <ion-icon name="create"></ion-icon> Edit</button>

            <button ion-button color="danger" (click)="removeItem(item)">
              <ion-icon name="trash"></ion-icon> Delete</button>
          </ion-item-options>
        </ion-item-sliding>
        <!-- </div> -->
      </ion-list>

    </ion-item>

  </ion-scroll>

  <!-- <div align="center"  >Please add a class!  </div> -->
  <div *ngIf="role=='user'" padding align="center">
    <strong> <i> Add a halaqa </i></strong>
  </div>
  <!-- <ion-item>

<ion-input placeholder="Please add a class!" type="text" readonly="true" text-center >
</ion-input>
</ion-item> -->

  <div *ngIf="role=='user'" align="center">
    <button (click)="goToAddHalaqa(Institute.idinstitute)" block=true>
      <img style="width:20% ; height:20% " src="assets/imgs/add.png">
    </button>
  </div>

</ion-content>
