<!--
  Generated template for the ClassListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <ion-navbar hideBackButton="false" color="danger">
      <ion-buttons end>

      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>

      <button ion-button menuToggle  class="button5" >
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>
        <ion-title >Class-list</ion-title>

    </ion-navbar>

    <!-- <ion-toolbar >
    <ion-segment [(ngModel)]="category">
      <ion-segment-button value="LIST">
LIST
      </ion-segment-button>
      <ion-segment-button value="INFO">
INFO
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content>
    <!-- <div [ngSwitch]="category" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">
        <div *ngSwitchCase="'LIST'"> -->
            <!--
    <ion-row  nowrap>
      <ion-col width-33  style="border: none" >
      <button  (click)="goBack()" ion-button style="  background-color:lightgrey" >
          <div>	<img style="width:20% ; height:100% " src="assets/imgs/goback2.png"></div>
        </button>
      </ion-col>
  </ion-row> -->

            <!-- <div align="center">  <img src="assets/imgs/logo5ayrokem.png" style="width:50% ; height:20% " /> </div> -->

                <div align="center" >
                    <h3 style="color: slategrey;  text-transform: uppercase"> <strong> <i> {{Institute.InstituteName}} </i></strong></h3>
                </div>
                <ion-searchbar *ngIf="isSearchbarOpened" [(ngModel)]="searchQuery" showCancelButton="true" (keyup)="onSearch($event)"
                 (ionCancel)="isSearchbarOpened=false">  </ion-searchbar>


                <div align="center">List of classes</div>

                <ion-scroll scrollY="true" style="height:60%">
                    <ion-item no-lines>
                        <ion-list>

                            <!-- <div fxLayout="column"  align="center"> -->
                            <ion-item-sliding *ngFor="let ClassName of ListClassNames">
                                <ion-item color="light">
                                    <!-- style="width:60%" -->
                                    <button ion-button color="gold" (click)="GoToClassStudent(ClassName.ClassName,ClassName.idclass)" block=true>
                                        {{ ClassName.ClassName }}
                                    </button>
                                </ion-item>

                                <ion-item-options>

                                    <button ion-button color="secondary" (click)="infoItem(item)">
                                        <ion-icon name="information-circle"></ion-icon> Info</button>
                                    <button ion-button (click)="editItem(ClassName.idclass)">
                                        <ion-icon name="create"></ion-icon> Edit</button>

                                    <button ion-button color="danger" (click)="removeItem(item)">
                                        <ion-icon name="trash"></ion-icon> Delete</button>
                                </ion-item-options>
                            </ion-item-sliding>
                            <!-- </div> -->
                        </ion-list>

                    </ion-item>

                </ion-scroll>

                <!-- <div align="center"  >Please add a class!  </div> -->
                <div *ngIf="role1=='admin'" padding align="center">
                    <strong> <i> Add a class </i></strong>
                </div>
                <!-- <ion-item>

      	<ion-input placeholder="Please add a class!" type="text" readonly="true" text-center >
      	</ion-input>
    </ion-item> -->

                <div *ngIf="role1=='admin'" align="center">
                    <button (click)="goToAddClass(Institute.idinstitute)" block=true>
                        <img style="width:20% ; height:20% " src="assets/imgs/add.png">
                    </button>
                </div>

</ion-content>
