<!--
  Generated template for the LogoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='danger'>
    <ion-title>logout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div  align="center"> <img   src="assets/imgs/logo5ayrokem.png" style="width:50% ; height:20% "/>
  </div>

      <div align="center" padding>Tap to log in</div>

      <!-- <ion-scroll   scrollY="true"  style="height:50vh"> -->

        <!-- <ion-scroll zooming = "true" direction = "xy" > -->

        <ion-list >
          <!-- <ion-item> -->

            <!-- <div fxLayout="column"  align="center"> -->

                <!-- <ion-item  color="light" *ngFor="let user of listuserfinal"> -->
            <!-- color="light" -->
  <!--   [ngStyle]="{ background:  '#33FF93'}"-->
  <!-- color="gold" -->

<!-- <ion-item-options color="light"> -->
<!-- <ion-item  color="light" style="border-bottom: 1px solid grey !important"> -->
          <button  outline  *ngFor="let user of listuserfinal"  color="light" ion-button style="padding:0px;" class="border-bottom" block=true>
   <button  ion-button clear  color="light" style="padding:0px;" (click)="gotoyourcount(user.token,user.iduser,user.role)" block=true>


     <ion-item color="light" >
              <ion-icon  item-start  name="contact"></ion-icon>
            <ion-item color="light" item-start>

            <b>{{ user.username }}</b><br>
            <!-- <h4><b>{{ user.username }}</b></h4><br> -->
             <p class="ident"> {{user.email}}</p>
           </ion-item>
         </ion-item>

         </button>

         <button ion-button  clear  block=true  centering style="padding:0px;width:7vh"  (click)="presentActionSheet(user.token)">       <ion-item centering color="light" >
<ion-icon  item-end name="more"></ion-icon>         </ion-item>
</button>

           <!-- <button ion-button clear item-end >  <ion-icon item-end name="more"></ion-icon></button> -->

            </button>
          <!-- </ion-item-options> -->
          <!-- </ion-item> -->


        <!-- </div> -->
      </ion-list>

      <!-- </ion-item> -->
    <!-- </ion-scroll> -->

  <!-- </ion-scroll> -->
<button   ion-button color="primery" (click)="gotologin()"  block=true>
Login Into Another Account  </button>
</ion-content>
