<!--
  Generated template for the ReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='danger'>
    <ion-buttons end>

      <button ion-button menuToggle  class="button5" >
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>From Date</ion-label>
    <ion-input type="Date"  name="FromDate"   [(ngModel)]="FromDate"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>To Date</ion-label>
  <ion-input type="Date"  name="ToDate"   [(ngModel)]="ToDate"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Notes</ion-label>
  <ion-input type="Notes" name="Notes" [(ngModel)]="Notes"></ion-input>
</ion-item>
  <div align="center" class = "col"><button type="submit" style="width:40%" ion-button color="green" (click)="getclass('5cb219578f07580017362614')">getall</button></div>
  <div align="center" class = "col"><button type="submit" style="width:40%" ion-button color="green" (click)="createPdf()">createPdf</button></div>

</ion-content>
