<!--
  Generated template for the AccountInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>account-info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

		<div padding align ="left"> <button  (click)="goBack()" clear=true >
    	<img style="width:20% ; height:2% " src="assets/imgs/goback2.png">
    </button></div>


<div padding align="center"> <img src="assets/imgs/logo5ayrokem.png"/> </div>
  <form>

<!--
	BF
Il faut changer les input en output pour afficher les infos du compte à partir de la base de donnée (A faire après avoir fait le lien avec la base de donnée)
laisser la possibilité de les modifier avec une demande du mot de passe!
-->
  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Name" type="text" name="AdminName" [(ngModel)]="AdminName"></ion-input>
    </ion-item>
  </div>



  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Country" type="text" name="AdminCountry" [(ngModel)]="AdminCountry"></ion-input>
    </ion-item>
  </div>



  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="City" type="text" name="AdminCity" [(ngModel)]="AdminName"></ion-input>
    </ion-item>
  </div>

  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Password" type="text" name="Password" [(ngModel)]="Password"></ion-input>
    </ion-item>
  </div>

      <div padding align ="center"> <button  (click)="AddInstitute()" block=true>
    	<img src="assets/imgs/editrepport.png">
    </button></div>
</form>


</ion-content>
