<!--
  Generated template for the AddInstitutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-buttons end>

      <button ion-button menuToggle  class="button5" >
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>add-institute</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>




<div padding align="center"> <img src="assets/imgs/logo5ayrokem.png"/> </div>
  <form>


  <div class = "row" padding-top>
    <ion-item>
      <ion-label floating>Institute name *</ion-label>


      <ion-input placeholder="Institute name *" type="text" name="InstituteName" [(ngModel)]="InstituteName"></ion-input>
    </ion-item>
  </div>

<!--
Il faut trouver un module pour générer automatiquement une liste des pays!
-->

  <div class = "row" padding-top>
    <ion-item>
      <ion-label floating>Country</ion-label>

      <ion-input placeholder="Country" type="text" name="InstituteCountry" [(ngModel)]="InstituteCountry"></ion-input>
    </ion-item>
  </div>


<!--
Il faut trouver un module pour générer automatiquement une liste des villes en fonction du pays choisi!
-->


  <div class = "row" padding-top>
    <ion-item>
      <ion-label floating>City</ion-label>

      <ion-input placeholder="City" type="text" name="InstituteCity" [(ngModel)]="InstituteCity"></ion-input>
    </ion-item>
  </div>

  <!--<div class = "row" padding-top>-->
    <!--<ion-item>-->
      <!--<ion-label floating>Halaqa name</ion-label>-->

      <!--<ion-input placeholder="Halaqa name" type="text" name="HalaqaName" [(ngModel)]="HalaqaName"></ion-input>-->
    <!--</ion-item>-->
  <!--</div>-->

      <div padding align ="center"> <button  (click)="goToAdd()" block=true>
    	<img src="assets/imgs/save.png">
    </button></div>


	<div padding align ="center"> <button  (click)="goToInstituteList()" clear	=true >
    	<img style="width:20% ; height:2% " src="assets/imgs/cancel.png">
    </button></div>

</form>


</ion-content>
