page-achievement-list {
  .header .col {
      background-color:lightgrey;
  }

  .col {
      border: solid 1px grey;
      // max-width :14% ;

      border-bottom-style: none;
      border-right-style: none;
  }

  .col:last-child {

      border-right: solid 1px grey;
  }

  .row:last-child .col {
      border-bottom: solid 1px grey;

 }
  // ion-scroll{
  //   overflow-x: scroll!important;
  //   white-space: nowrap;
  //   word-wrap: break-word;
  //
  // }
 //  ::-webkit-scrollbar{
 //   display:none;
 // }
}
