<!--
  Generated template for the AchievementListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="danger">
    <ion-buttons end>

      <button ion-button menuToggle  class="button5" >
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>Achievement-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >



<!--
	<div  align ="left"> <button  (click)="goBack()" clear=true >
    	<img style="width:20% ; height:2% " src="assets/imgs/goback2.png">
    </button></div> -->


    <ion-row >
      <!-- <ion-col width-33  style="border: none" >
      <button  (click)="goBack()" block=true ion-button style="  background-color:lightgrey" >
          <div>	<img style="width:20% ; height:100% " src="assets/imgs/goback2.png"></div>
        </button>
      </ion-col> -->

      <ion-col width-33 style="border: none">
      <button ion-button full (click)="createPdf()">Create PDF</button>
    </ion-col>
    </ion-row>

<div  align="center"> <img src="assets/imgs/logo5ayrokem.png"style="width:50% ; height:20% "/> </div>
  <form>
    <div align="center" >
      <h3 style="  text-transform: uppercase;color: slategrey"> <strong> <i> {{Student.StudentName}} </i></strong></h3>

      </div>

    <div align="center" >Liste of Achievements</div>


    <ion-scroll scrollX="true" scrollY="true" style="width:52vh; height:40vh" zoom="true" padding>

    <ion-row class="row header"  text-center nowrap *ngIf="ListAchievement.length != 0">


      <ion-col col-6 >Date</ion-col>
      <ion-col col-6 >Program</ion-col>
      <ion-col col-10 >Surah</ion-col>
      <ion-col col-4 >From verse</ion-col>
      <ion-col col-4 >To verse</ion-col>
      <ion-col col-6 >Evaluation</ion-col>
      <ion-col col-10 >Notes</ion-col>
    </ion-row>


    <ion-row class="row" text-center nowrap *ngFor="let achievements of ListAchievement">

      <ion-col col-6 text-wrap>{{achievements.AchievDate }}</ion-col>
      <ion-col col-6 text-wrap>{{achievements.Program }}</ion-col>
      <ion-col col-10 text-wrap>{{achievements.Surah }}</ion-col>
      <ion-col col-4 text-wrap>{{achievements.FromVerse }} </ion-col>
      <ion-col col-4 text-wrap>{{achievements.ToVerse }}</ion-col>
      <ion-col col-6 text-wrap>{{achievements.Evaluation }}</ion-col>
      <ion-col col-10 text-wrap>{{achievements.Notes }}</ion-col>
  </ion-row>

</ion-scroll>
<!-- style="font-size:10pt" -->
  <!-- </ion-item> -->




  <!-- <div class = "row" >
    <ion-item>
      <ion-input placeholder="Please add an achievement !" type="text" readonly="true" text-center ></ion-input>
    </ion-item>
  </div> -->
  <div padding align="center" >
    <strong> <i> Add an achievement </i></strong>
  </div>
<!-- Ce n'est pas top! il faut voir comment aggrandir le message (please add...). La liste doit s'incrémenter automatiquement à partir de la based de donnée. idem pour les autres list (class, institute)
-->



      <div align ="center"> <button  (click)="goToAddAchievement()" block=true>
    	<img style="width:20% ; height:20% " src="assets/imgs/add.png">
    </button></div>
	</form>

     <!-- <button ion-button full (click)="createPdf()">Create PDF</button> -->
     <!-- <button ion-button full (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</button> -->
</ion-content>
