<!--
  Generated template for the UpdateinstitutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='danger'>
    <ion-title>updateinstitute</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Institute name *</ion-label>


    <ion-input placeholder="Institute name *" type="text" name="InstituteName" [(ngModel)]="institute.InstituteName"></ion-input>
  </ion-item>

  <!--
  Il faut trouver un module pour générer automatiquement une liste des pays!
  -->

  <ion-item>
    <ion-label floating>Country</ion-label>

    <ion-input placeholder="Country" type="text" name="InstituteCountry" [(ngModel)]="institute.Country"></ion-input>
  </ion-item>



  <!--
  Il faut trouver un module pour générer automatiquement une liste des villes en fonction du pays choisi!
  -->


  <ion-item>
    <ion-label floating>City</ion-label>

    <ion-input placeholder="City" type="text" name="InstituteCity" [(ngModel)]="institute.City"></ion-input>
  </ion-item>

  <!--<ion-item>-->
    <!--<ion-label floating>Halaqa name</ion-label>-->

    <!--<ion-input placeholder="Halaqa name" type="text" name="HalaqaName" [(ngModel)]="institute.Halaqaname"></ion-input>-->
  <!--</ion-item>-->


  <div align="center" class = "col"><button type="submit" style="width:40%" ion-button color="green" (click)="updateinstitute(institute._id)">Update</button></div>

</ion-content>
