<!--
  Generated template for the UpdateclassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>updateclass</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Class name *</ion-label>

    <ion-input placeholder="Class name *" type="text" name="ClassName" [(ngModel)]="class.ClassName"></ion-input>
  </ion-item>
  <div align="center" class = "col"><button type="submit" style="width:40%" ion-button color="green" (click)="updateclass(class._id)">Update</button></div>

</ion-content>
