<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div padding align="center"> <img src="assets/imgs/logo5ayrokem.png"/> </div>
  <form >
  <div class = "row" padding-top>

    <ion-item>
      <ion-label floating>Username</ion-label>

      <ion-input placeholder="Username *" type="text" name="UserName" [(ngModel)]="UserName"></ion-input>
    </ion-item>
  </div>


  <div class = "row" padding-top [formGroup]="registrationForm" >

    <ion-item>
      <ion-label floating>E-mail *</ion-label>

      <ion-input placeholder="E-mail *" type="email" formControlName="email" name="email" [(ngModel)]="Email"></ion-input>
    </ion-item>
     <ion-item *ngIf="registrationForm.controls.email.hasError('pattern') && registrationForm.controls.email.touched">
          <p>Please enter valid Email</p>
        </ion-item>
  </div>
  <div class = "row" padding-top >
    <ion-item>
      <ion-label floating>Password *</ion-label>

      <ion-input placeholder="Password *" type="password" name="Password"  [(ngModel)]="Password"></ion-input>
    </ion-item>
  </div>

  <div class = "row" padding-top>
    <ion-item>
      <ion-label floating>Repeat password *</ion-label>

      <ion-input placeholder="Repeat password *" type="password" name="RPassword" [(ngModel)]="RPassword"></ion-input>
    </ion-item>
  </div>
    <div class = "row" padding-top>

    <ion-item>
      <ion-label floating>will work in</ion-label>
      <ion-select multiple="true"   [(ngModel)]="Institutes" name="Institutes">
        <ion-option  *ngFor ="let institute of ListInstitutes" [value]="institute.idinstitute">{{institute.InstituteName}}</ion-option>
        <!--<ion-option value="m">Male</ion-option>-->
      </ion-select>
    </ion-item>
    </div>

    <div class = "row">
    <div align="center" class = "col" (click)="register()"><button [disabled]="!registrationForm.valid" type="submit" style="width:60%" ion-button color="gold" >Sign Up</button></div>
  </div>

</form>



</ion-content>
