<!--
  Generated template for the UpdatestudentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>updatestudent</ion-title>
  </ion-navbar>
</ion-header>
<!--
  Generated template for the UpdateuserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>




<div padding align="center"> <img src="assets/imgs/logo5ayrokem.png"/> </div>
  <form>
  <div class = "row" padding-top>
    <ion-item>
      <ion-label floating>Student name *</ion-label>

      <ion-input placeholder="Student name *" type="text" name="StudentName"  [(ngModel)]="student.StudentName">{{student.StudentName}}</ion-input>
    </ion-item>
  </div>

  <div class = "row" padding-top>
		<ion-item>
	  	<ion-label floating>Gender</ion-label>
	  		<ion-select [(ngModel)]="student.Gender" name="Gender">
	    		<ion-option value="f">Female</ion-option>
	    		<ion-option value="m">Male</ion-option>
	  		</ion-select>
		</ion-item>
	</div>



	<div class = "row" padding-top>
		<ion-item>
	  	<ion-label floating>Status *</ion-label>
	  		<ion-select [(ngModel)]="student.Status" name="Status">
	    		<ion-option value="Employee">Employee</ion-option>
	    		<ion-option value="Patient">Patient</ion-option>
	  		</ion-select>
		</ion-item>
	</div>


<!--
 Ces choix ci-dessous seront affichés quand le Status sera Patient
-->

    <ion-item>
      <ion-label floating>Room Number</ion-label>

      <ion-input *ngIf="student.Status=='Patient'" placeholder="Room Number" type="text" name="RoomNumber"  [(ngModel)]="student.RoomNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Level</ion-label>

      <ion-input *ngIf="student.Status=='Patient'" placeholder="Level" type="text" name="Level" [(ngModel)]="student.Level"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Entry Date</ion-label>
      <ion-input type="Date"  name="EntryDate"   [(ngModel)]="student.EntryDate"></ion-input>
  </ion-item>

<ion-item>
      <ion-label floating>Exit Date</ion-label>
      <ion-input type="Date"  name="ExitDate"   [(ngModel)]="student.ExitDate"></ion-input>
  </ion-item>


<!--
  Les deux buttons suivant font la même choses, mais nous préférons garder celui avec l'icon. Autre chose voir le type='submit' est ce que c'est indispensable ou non ?


  <div *ngIf=" Status == Patient" >

    <ion-item>
      <ion-input placeholder="Room Number" type="text" name="RoomNumber"  [(ngModel)]="RoomNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Level" type="text" name="Level" [(ngModel)]="Level"></ion-input>
    </ion-item>
</div>
-->


<div align="center" class = "col"><button type="submit" style="width:40%" ion-button color="green" (click)="updatestudent(student._id)">Update</button></div>

</form>

</ion-content>
