<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true" color="danger">
    <ion-title>Home</ion-title>
    <ion-buttons end>
    <button ion-button menuToggle  class="button5">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="home-background" padding>

<ion-searchbar [(ngModel)]="searchQuery" showCancelButton="true" (keyup)="onSearch($event)">  </ion-searchbar>



<!-- <form> -->
    <ion-scroll padding class="item item-trns text-center" scrollY="true"  style="height:80%">

      <!-- <ion-scroll zooming = "true" direction = "xy" > -->
<!-- <ion-item  no-lines class="item item-trns text-center"> -->
      <ion-item-group >
        <ion-item-divider *ngIf="ListStudent.length!=0" color="secondary">Students</ion-item-divider>          <!-- <div fxLayout="column"  align="center"> -->

              <ion-item-sliding *ngFor="let Students of ListStudent">
        <ion-item color="light">
<!--   [ngStyle]="{ background:  '#33FF93'}"-->
        <button   ion-button color="gold" (click)="GoToAchievment(Students.StudentName,Students.idstudent)"  block=true>
          {{ Students.StudentName }}
          </button>
        </ion-item>



</ion-item-sliding>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<ion-item-divider *ngIf="ListHalaqa.length!=0" color="secondary">Halaqaty</ion-item-divider>          <!-- <div fxLayout="column"  align="center"> -->

      <ion-item-sliding *ngFor="let Halaqa of ListHalaqa">
<ion-item color="light">
<!--   [ngStyle]="{ background:  '#33FF93'}"-->
<button   ion-button color="gold" (click)="GoToHalaqaClasses(Halaqa.HalaqaName,Halaqa.idhalaqa)"  block=true>
  {{ Halaqa.HalaqaName }}
  </button>
</ion-item>


</ion-item-sliding>
          <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
          <ion-item-divider *ngIf="ListInstitutes.length!=0" color="secondary">Institutes</ion-item-divider>          <!-- <div fxLayout="column"  align="center"> -->

          <ion-item-sliding *ngFor="let InstituteName of ListInstitutes">
              <ion-item color="light">
                  <!--   [ngStyle]="{ background:  '#33FF93'}"-->
                  <button   ion-button color="gold" (click)="GoToClassInstitue(InstituteName.InstituteName,InstituteName.idinstitute)"  block=true>
                      {{ InstituteName.InstituteName }}
                  </button>
              </ion-item>


          </ion-item-sliding>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<ion-item-divider *ngIf="ListClass.length!=0" color="secondary">classes</ion-item-divider>          <!-- <div fxLayout="column"  align="center"> -->

      <ion-item-sliding *ngFor="let classes of ListClass">
<ion-item color="light">
<!--   [ngStyle]="{ background:  '#33FF93'}"-->
<button   ion-button color="gold" (click)="GoToClassStudent(classes.ClassName,classes.idclass)"  block=true>
  {{ classes.ClassName }}
  </button>
</ion-item>



</ion-item-sliding>

      <!-- </div> -->
      </ion-item-group>

  <!-- </ion-scroll> -->
  <!-- </ion-item> -->

</ion-scroll>

<!-- </form> -->
<!-- <div padding  align="center" class="milieu"> <img   src="assets/imgs/logo5ayrokem3.png" style="vertical-align: center;width:100% ; height:100% "/></div> -->
</ion-content>
