page-home {
  .my-custom-menu {
    --width: 500px;
  }
  .button5 {display: block !important;}/* Black */
.milieu{vertical-align: center;}
ion-content {
    background-image: url('../assets/imgs/logo5ayrokem3.png');
}
.home-background {
  background: url('../assets/imgs/logo5ayrokem3.png') no-repeat center center fixed;
  background-size: cover;
}
.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white;
}
}
