<!--
  Generated template for the UserListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="false" color="danger">
    <ion-buttons end>

      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>

      <button ion-button menuToggle  class="button5" >
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>Student-list</ion-title>
  </ion-navbar>
  <!-- <ion-toolbar >
  <ion-segment [(ngModel)]="category">
    <ion-segment-button value="Patient">
Patient
    </ion-segment-button>
    <ion-segment-button value="Employee">
Employee
    </ion-segment-button>

  </ion-segment>
</ion-toolbar> -->
</ion-header>


<ion-content >

  <!-- <ion-row nowrap>
    <ion-col width-33  style="border: none" >
    <button  (click)="goBack()"  ion-button style="  background-color:lightgrey" >
        <div>	<img style="width:20% ; height:100% " src="assets/imgs/goback2.png"></div>
      </button>
    </ion-col>
</ion-row> -->

  <!-- <div  align="center"> <img src="assets/imgs/logo5ayrokem.png" style="width:50% ; height:20% "/> </div> -->
  <div align="center" >
    <h3 style="  text-transform: uppercase;color: slategrey"> <strong> <i> {{Halaqa.HalaqaName}} </i></strong></h3>
  </div>

  <div align="center" >Liste of Students</div>

  <ion-item>
    <ion-label floating>In which class</ion-label>
    <ion-select multiple="false"   [(ngModel)]="Classes" name="Classes"  (ionChange)="getstudent()">
      <ion-option value="all">All</ion-option>
      <ion-option  *ngFor ="let classe of ListClass" [value]="classe.idclass">{{classe.ClassName}}</ion-option>
    </ion-select>
  </ion-item>

  <!-- <div [ngSwitch]="category" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">
<div *ngSwitchCase="'Patient'" > -->
  <!-- (ionChange)="segmentChanged($event)" -->
  <!--<div padding>-->
    <!--<ion-segment [(ngModel)]="category">-->
      <!--<ion-segment-button value="Patient">-->
        <!--<ion-label>Patient</ion-label>-->
      <!--</ion-segment-button>-->
      <!--<ion-segment-button value="Employee">-->
        <!--<ion-label>Employee</ion-label>-->
      <!--</ion-segment-button>-->
    <!--</ion-segment>-->
  <!--</div>-->


  <!--<div [ngSwitch]="category" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">-->

    <!-- <ion-scroll scrollY="true" style="height:35vh"> -->
    <ion-scroll scrollY="true" style="height:50vh">
      <!-- [ngSwitch]="Status" [(currentTab)]="Patient" -->
      <!-- <ion-item no-lines> -->

      <ion-searchbar *ngIf="isSearchbarOpened" [(ngModel)]="searchQuery" showCancelButton="true" (keyup)="onSearch($event)"
                     (ionCancel)="isSearchbarOpened=false">  </ion-searchbar>
      <!-- <div *ngSwitchCase="'Patient'" >  -->
      <ion-item no-lines>
        <!--*ngSwitchCase="'Patient'"-->
        <ion-list >

          <!-- <div fxLayout="column"  align="center"> -->
          <ion-item-sliding *ngFor="let StudentName of ListStudentNames" >
            <!-- <ion-item  no-lines> -->

            <ion-item *ngIf="StudentName.Status=='Patient'"  color="light">
              <!-- style="width:60%"  -->
              <button ion-button color="gold" (click)="GoToAchievment(StudentName.StudentName,StudentName.idstudent)" block=true>
                {{ StudentName.StudentName }}
              </button>
            </ion-item>
            <ion-item-options>
              <button   ion-button color="secondary" (click)="archiveItem(StudentName.idstudent)" ><ion-icon name="archive"></ion-icon>Archive</button>
              <!-- <button   ion-button color="secondary" (click)="infoItem(StudentName.idstudent)" ><ion-icon name="information-circle"></ion-icon> Info</button> -->
              <button  ion-button (click)="editItem(StudentName.idstudent)" ><ion-icon name="create"></ion-icon> Edit</button>

              <button  ion-button color="danger"  (click)="removeItem(StudentName.idstudent)"> <ion-icon name="trash"></ion-icon> Delete</button>
            </ion-item-options>

          </ion-item-sliding>
          <!-- </div> -->
        </ion-list>

        <!--<ion-list *ngSwitchCase="'Employee'">-->
          <!--<ion-item-sliding *ngFor="let StudentName of ListStudentNames" >-->

            <!--<ion-item *ngIf="StudentName.Status=='Employee'" color="light">-->
              <!--&lt;!&ndash; style="width:60%"  &ndash;&gt;-->
              <!--<button ion-button color="gold" (click)="GoToAchievment(StudentName.StudentName,StudentName.idstudent)" block=true>-->
                <!--{{ StudentName.StudentName }}-->
              <!--</button>-->
            <!--</ion-item>-->
            <!--<ion-item-options>-->
              <!--<button   ion-button color="secondary" (click)="archiveItem(StudentName.idstudent)" ><ion-icon name="archive"></ion-icon>Archive</button>-->

              <!--&lt;!&ndash; <button   ion-button color="secondary" (click)="infoItem(StudentName.idstudent)" ><ion-icon name="information-circle"></ion-icon> Info</button> &ndash;&gt;-->
              <!--<button  ion-button (click)="editItem(StudentName.idstudent)" ><ion-icon name="create"></ion-icon> Edit</button>-->

              <!--<button  ion-button color="danger"  (click)="removeItem(StudentName.idstudent)"> <ion-icon name="trash"></ion-icon> Delete</button>-->
            <!--</ion-item-options>-->

          <!--</ion-item-sliding>-->
        <!--</ion-list>-->
        <!-- </ion-item> -->

      </ion-item>


    </ion-scroll>
  <!--</div >-->

  <!-- <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Please add a user!" type="text" readonly="true" text-center ></ion-input>
    </ion-item>
  </div> -->
  <div *ngIf="role=='user'" padding align="center" >
    <strong> <i> Add a user </i></strong>
  </div>
  <!-- Ce n'est pas top! il faut voir comment aggrandir le message (please add...).
  La liste doit s'incrémenter automatiquement à partir de la based de donnée. idem pour les autres list (class, institute)
  -->



  <div  *ngIf="role=='user'" align ="center"> <button  (click)="goToAddUser()" block=true>
    <img style="width:20% ; height:20% "src="assets/imgs/add.png">
  </button></div>

</ion-content>
