


<ion-menu side="right"  persistent=true [content]="content">
  <ion-header >
    <ion-toolbar color="danger" >
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="role=='user' ">
      <button ion-item menuClose  *ngFor="let p of pages" (click)="openPage(p)">

         <img *ngIf="p.title=='Institutes'" src="assets/imgs/hospital.png" style="width:6% ; height:6% ">
         <ion-icon *ngIf="p.title!='Institutes'" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="role=='admin' ">
      <button ion-item menuClose  *ngFor="let p of pages1" (click)="openPage(p)">
        <img *ngIf="p.title=='Institutes'" src="assets/imgs/hospital.png" style="width:6% ; height:6% ">
        <ion-icon *ngIf="p.title!='Institutes'" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
      <!-- <button ion-item menuClose (click)="openPage('HomePage')">
        <ion-icon name="home"></ion-icon>
        Home
      </button>

      <button ion-item menuClose (click)="openPage({page:'ProfilePage'})">
        <ion-icon name="contact"></ion-icon>
        Profile
      </button>

      <button ion-item menuClose (click)="openPage({page:'InstituteListPage'})">
        <img src="assets/imgs/hospital.png" style="width:6% ; height:6% ">
        Institutes
      </button>

      <button ion-item menuClose (click)="openPage({page:'InstituteListPage'})">
        <ion-icon name="stats"></ion-icon>
        Statistics
      </button>

      <button ion-item menuClose (click)="openPage('LogoutPage')">
        <ion-icon name="document"></ion-icon>
        Report
      </button>

      <button ion-item menuClose (click)="openPage('LogoutPage')">
        <ion-icon name="log-out"></ion-icon>
        logout
      </button> -->
      <!-- <button ion-item (click)="closeMenu()">
        Close Menu
      </button> -->
  </ion-content>
</ion-menu>


<ion-nav  id="menu" #content [root]="rootPage" ></ion-nav>
