<!--
  Generated template for the InstituteListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="false" color="danger" >

      <ion-buttons end>

      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title >Institute-list</ion-title>
    <ion-buttons end>

      <button ion-button menuToggle  class="button5" >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

<!-- class={display: block !important;} -->
        <!-- Searchbar with a cancel button and custom cancel button text -->


      </ion-navbar>

 </ion-header>

<ion-content  >

        <!-- <button ion-button menuToggle  class="button5" >
          <ion-icon name="menu"></ion-icon>
        </button> -->
  <!-- <ion-searchbar *ngIf="isSearchbarOpened" [(ngModel)]="searchQuery" showCancelButton="true" (keyup)="onSearch($event)"
   (ionCancel)="isSearchbarOpened=false"></ion-searchbar> -->
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <!-- Animated Searchbar -->

    <!-- <div [ngSwitch]="category" swipeSegment [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">

<div *ngSwitchCase="'LIST'" > -->

 <!-- <ion-row>
      <ion-col  width-33 >
      <button ion-button  (click)="goBack()" clear=true  style="  background-color:lightgrey" >
        <div>	<img style="width:20% ; height:100% " src="assets/imgs/goback2.png"></div>
        </button>
      </ion-col>
  </ion-row> -->


<!-- <div  align="center" padding> <img   src="assets/imgs/logo5ayrokem.png" style="width:50% ; height:20% "/></div> -->

    <div align="center" ><h4>Liste of institutes</h4></div>

      <ion-searchbar *ngIf="isSearchbarOpened" [(ngModel)]="searchQuery" showCancelButton="true" (keyup)="onSearch($event)"
       (ionCancel)="isSearchbarOpened=false">  </ion-searchbar>

  <!-- <ion-scroll   scrollY="true"  style="height:50vh"> -->
    <ion-scroll   scrollY="true"  style="height:60%">

      <!-- <ion-scroll zooming = "true" direction = "xy" > -->

    <ion-item no-lines>
      <ion-list >
          <!-- <div fxLayout="column"  align="center"> -->

              <ion-item-sliding *ngFor="let InstituteName of ListInstitutesNames">
        <ion-item color="light">
<!--   [ngStyle]="{ background:  '#33FF93'}"-->
        <button   ion-button color="gold" (click)="GoToHalaqaInstitute(InstituteName.InstituteName,InstituteName.idinstitute)"  block=true>
          {{ InstituteName.InstituteName }}
          </button>
        </ion-item>
<ion-item-options>

  <button   ion-button color="secondary" (click)="infoItem(InstituteName.idinstitute)" ><ion-icon name="information-circle"></ion-icon> Info</button>
  <button  ion-button (click)="editItem(InstituteName.idinstitute )" ><ion-icon name="create"></ion-icon> Edit</button>

            <button  ion-button color="danger"  (click)="removeItem(InstituteName.idinstitute)"> <ion-icon name="trash"></ion-icon> Delete</button>
        </ion-item-options>


</ion-item-sliding>
      <!-- </div> -->
    </ion-list>

    </ion-item>
  <!-- </ion-scroll> -->

</ion-scroll>



<div *ngIf="role=='admin'" padding align="center" >
  <strong> <i> Add a institute </i></strong>
</div>

      <div *ngIf="role=='admin'"  align ="center"> <button  (click)="goToAddInstitute()" block=true>
    	<img style="width:20% ; height:20% " src="assets/imgs/add.png">
    </button></div>

</ion-content>
