<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resetpassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   
   <div>
    <ion-item>
      <ion-input placeholder="new password" type="password" name="Password"  [(ngModel)]="Password"></ion-input>
    </ion-item>
  </div>

  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Repeat password" type="password" name="RPassword" [(ngModel)]="RPassword"></ion-input>
    </ion-item>
  </div>

  <div class = "row">
    <div align="center" class = "col" (click)="submitreset()"><button type="submit" style="width:60%" ion-button color="gold" >Submit</button></div>
  </div>

</ion-content>
