<!--
  Generated template for the AccountInfoEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>account-info-edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

			<div padding align ="left"> <button  (click)="goBack()" clear=true >
    	<img style="width:20% ; height:2% " src="assets/imgs/goback2.png">
    </button></div>


<div padding align="center"> <img src="assets/imgs/logo5ayrokem.png"/> </div>
  <form>

  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Name" type="text" name="AdminName" [(ngModel)]="AdminName"></ion-input>
    </ion-item>
  </div>



  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Country" type="text" name="AdminCountry" [(ngModel)]="AdminCountry"></ion-input>
    </ion-item>
  </div>



  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="City" type="text" name="AdminCity" [(ngModel)]="AdminName"></ion-input>
    </ion-item>
  </div>

  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Password" type="text" name="Password" [(ngModel)]="Password"></ion-input>
    </ion-item>
  </div>

    <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Confirm password" type="text" name="ConfPassword" [(ngModel)]="ConfPassword"></ion-input>
    </ion-item>
  </div>

      <div padding align ="center"> <button  (click)="AddInstitute()" block=true>
    	<img src="assets/imgs/save.png">
    </button></div>
	</form>

</ion-content>
