<!--
  Generated template for the ForgetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar>
    <ion-title>forgetpassword</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
  <form>
    <div align="center">
      <br><br><br><br><br><br><br><br><br>
      <div class = "row">
      <ion-item>
      <h1> <strong> <i> Find your account</i> </strong> </h1>
      </ion-item>
    </div>
      <div class = "row">
        <ion-item>
          <!-- <ion-text color="light"> -->
        <ion-card>
          <ion-card-content>
<p>Please enter your email address to send
  the verification code to your account.</p>
</ion-card-content>
</ion-card>
          <!-- <p>Please enter your email address to send the verification code to your account.</p> -->
        <!-- </ion-text> -->
      </ion-item>
      </div>
      <div class = "row">
        <ion-item>
        <ion-input placeholder="E-mail adress"  name="email" type="email"  [(ngModel)]="email"></ion-input>
          </ion-item>
      </div>
    <div class = "row">
      <ion-item>
        <div align="center" class = "col" (click)="passreset()"><button  style="width:60%" ion-button color="gris">Send code</button></div>
      </ion-item>
    </div>
    </div>
  </form>
  </ion-list>
</ion-content>
