<!--
  Generated template for the PwcodevalidationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pwcodevalidation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
  <form>
    <div align="center">
      <br><br><br><br><br><br><br><br><br>
      <div class = "row">
      <ion-item>
      <h1> <strong> <i>Enter Security Code</i> </strong> </h1>
      </ion-item>
    </div>
      <div class = "row">
        <ion-item >
        Please check your Email for a text message with your code.
        </ion-item>
      </div>

      <div class = "row">
        <ion-item>
        <ion-input placeholder="verification code"  name="code" type="text"  [(ngModel)]="code"></ion-input>
          </ion-item>
      </div>

    <div class = "row">
      <ion-item>
        <div align="center" class = "col" (click)="passcode()"><button  style="width:60%" ion-button color="gris">Reset</button></div>
      </ion-item>
    </div>
    </div>
  </form>
  </ion-list>
</ion-content>
