<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Institution</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
<!--
  la fonction pour le retour (goback) est à définir par vous ;)
-->
<div padding align ="left"> <button  (click)="goBack()" clear=true >
    	<img style="width:20% ; height:2% " src="assets/imgs/goback2.png">
    </button></div>


<div padding align="center"> <img src="assets/imgs/logo5ayrokem.png"/> </div>
  <form>
  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Institute name" type="text" name="InstituteName" [(ngModel)]="InstituteName"></ion-input>
    </ion-item>
  </div>
  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="City" type="text" name="City" [(ngModel)]="City"></ion-input>
    </ion-item>
  </div>

  <div class = "row" padding-top >
    <ion-item>
      <ion-input placeholder="Country" type="text" name="Country"  [(ngModel)]="Country"></ion-input>
    </ion-item>
  </div>

  <div class = "row" padding-top>
    <ion-item>
      <ion-input placeholder="Halaqa name" type="text" name="HalaqaName" [(ngModel)]="HalaqaName"></ion-input>
    </ion-item>
  </div>

<!--
  Les deux buttons suivant font la même choses, mais nous préférons garder celui avec l'icon.
  Autre chose voir le type='submit' est ce que c'est indispensable ou non ? 
-->


  <div class = "row">
    <div align="center" class = "col"><button type="submit" style="width:40%" ion-button color="green" (click)="AddInstitute()">Save</button></div>
  </div>

    <div padding align ="center"> <button  (click)="AddInstitute()" block=true>
    	<img src="assets/imgs/save.png">
    </button></div>
</form>




</ion-content>
