<!--
  Generated template for the AddAchievementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-buttons end>

      <button ion-button menuToggle  class="button5" >
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>Add Achievement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>





<div padding align="center"> <img src="assets/imgs/logo5ayrokem.png"/> </div>


  	<ion-item>
  		<ion-label floating>Achievement Date</ion-label>
  		<ion-input type="Date"  name="AchievDate"   [(ngModel)]="AchievDate"></ion-input>
	</ion-item>


    <div class = "row" padding-top>
		<ion-item>
	  	<ion-label floating>Program</ion-label>
	  		<ion-select [(ngModel)]="Program" name="Program">
	    		<ion-option value="Memorize">Memorize</ion-option>
	    		<ion-option value="Revision">Revision</ion-option>
	    		<ion-option value="Exam">Exam</ion-option>
	  		</ion-select>
		</ion-item>
	</div>


	<div class = "row" padding-top>
		<ion-item>
	  	<ion-label floating>Surah</ion-label>
	  		<ion-select [(ngModel)]="Surah" name="Surah *" placeholder="Surah *">
				<ion-option value="Al-Fatihah (The Opening)">Al-Fatihah (The Opening)</ion-option>
				<ion-option value="Al-Baqarah (The Cow)">Al-Baqarah (The Cow)</ion-option>
				<ion-option value="Al-'Imran (The Family of Amran)">Al-'Imran (The Family of Amran)</ion-option>
				<ion-option value="An-Nisa' (The Women)">An-Nisa' (The Women)</ion-option>
				<ion-option value="Al-Ma'idah (The Food)">Al-Ma'idah (The Food)</ion-option>
				<ion-option value="Al-An'am (The Cattle)">Al-An'am (The Cattle)</ion-option>
				<ion-option value="Al-A'raf (The Elevated Places)">Al-A'raf (The Elevated Places)</ion-option>
				<ion-option value="Al-Anfal (Voluntary Gifts)">Al-Anfal (Voluntary Gifts)</ion-option>
				<ion-option value="Al-Bara'at / At-Taubah(The Immunity)">Al-Bara'at / At-Taubah(The Immunity)</ion-option>
				<ion-option value="Yunus (Jonah)">Yunus (Jonah)</ion-option>
				<ion-option value="Hud (Hud)">Hud (Hud)</ion-option>
				<ion-option value="Yusuf (Joseph)">Yusuf (Joseph)</ion-option>
				<ion-option value="Ar-Ra'd (The Thunder)">Ar-Ra'd (The Thunder)</ion-option>
				<ion-option value="Ibrahim (Abraham)">Ibrahim (Abraham)</ion-option>
				<ion-option value="Al-Hijr (The Rock)">Al-Hijr (The Rock)</ion-option>
				<ion-option value="An-Nahl (The Bee)">Al-Hijr (The Rock)</ion-option>
				<ion-option value="Bani Isra'il (The Israelites)">Bani Isra'il (The Israelites)</ion-option>
				<ion-option value="Al-Kahf (The Cave)">Al-Kahf (The Cave)</ion-option>
				<ion-option value="Maryam (Mary)">Maryam (Mary)</ion-option>
				<ion-option value="Ta Ha (Ta Ha)">Ta Ha (Ta Ha)</ion-option>
				<ion-option value="Al-Anbiya' (The Prophets)">Al-Anbiya' (The Prophets)</ion-option>
				<ion-option value="Al-Hajj (The Pilgrimage)">Al-Hajj (The Pilgrimage)</ion-option>
				<ion-option value="Al-Mu'minun (The Believers)">Al-Mu'minun (The Believers)</ion-option>
				<ion-option value="An-Nur (The Light)">An-Nur (The Light)</ion-option>
				<ion-option value="Al-Furqan (The Discrimination)">Al-Furqan (The Discrimination)</ion-option>
				<ion-option value="Ash-Shu'ara' (The Poets)">Ash-Shu'ara' (The Poets)</ion-option>
				<ion-option value="An-Naml (The Naml)">An-Naml (The Naml)</ion-option>
				<ion-option value="Al-Qasas (The Narrative)">Al-Qasas (The Narrative)</ion-option>
				<ion-option value="Al-'Ankabut (The Spider)">Al-'Ankabut (The Spider)</ion-option>
				<ion-option value="Ar-Rum (The Romans)">Ar-Rum (The Romans)</ion-option>
				<ion-option value="Luqman (Luqman)">Luqman (Luqman)</ion-option>
				<ion-option value="As-Sajdah (The Adoration)">As-Sajdah (The Adoration)</ion-option>
				<ion-option value="Al-Ahzab (The Allies)">Al-Ahzab (The Allies)</ion-option>
				<ion-option value="Al-Saba' (The Saba')">Al-Saba' (The Saba')</ion-option>
				<ion-option value="Al-Fatir (The Originator)">Al-Fatir (The Originator)</ion-option>
				<ion-option value="Ya Sin (Ya Sin)">Ya Sin (Ya Sin)</ion-option>
				<ion-option value="As-Saffat (Those Ranging in Ranks)">As-Saffat (Those Ranging in Ranks)</ion-option>
				<ion-option value="Sad (Sad)">Sad (Sad)</ion-option>
				<ion-option value="Az-Zumar (The Companies)">Az-Zumar (The Companies)</ion-option>
				<ion-option value="Al-Mu'min (The Believer)">Al-Mu'min (The Believer)</ion-option>
				<ion-option value="Ha Mim (Ha Mim)">Ha Mim (Ha Mim)</ion-option>
				<ion-option value="Ash-Shura (Counsel)">Ash-Shura (Counsel)</ion-option>
				<ion-option value="Az-Zukhruf (Gold)">Az-Zukhruf (Gold)</ion-option>
				<ion-option value="Ad-Dukhan (The Drought)">Ad-Dukhan (The Drought)</ion-option>
				<ion-option value="Al-Jathiyah (The Kneeling)">Al-Jathiyah (The Kneeling)</ion-option>
				<ion-option value="Al-Ahqaf (The Sandhills)">Al-Ahqaf (The Sandhills)</ion-option>
				<ion-option value="Muhammad (Muhammad)">Muhammad (Muhammad)</ion-option>
				<ion-option value="Al-Fath (The Victory)">Al-Fath (The Victory)</ion-option>
				<ion-option value="Al-Hujurat (The Apartments)">Al-Hujurat (The Apartments)</ion-option>
				<ion-option value="Qaf (Qaf)">Qaf (Qaf)</ion-option>
				<ion-option value="Ad-Dhariyat (The Scatterers)">Ad-Dhariyat (The Scatterers)</ion-option>
				<ion-option value="At-Tur (The Mountain)">At-Tur (The Mountain)</ion-option>
				<ion-option value="An-Najm (The Star)">An-Najm (The Star)</ion-option>
				<ion-option value="Al-Qamar (The Moon)">Al-Qamar (The Moon)</ion-option>
				<ion-option value="Ar-Rahman (The Beneficent)">Ar-Rahman (The Beneficent)</ion-option>
				<ion-option value="Al-Waqi'ah (The Event)">Al-Waqi'ah (The Event)</ion-option>
				<ion-option value="Al-Hadid (Iron)">Al-Hadid (Iron)</ion-option>
				<ion-option value="Al-Mujadilah (The Pleading Woman)">Al-Mujadilah (The Pleading Woman)</ion-option>
				<ion-option value="Al-Hashr (The Banishment)">Al-Hashr (The Banishment)</ion-option>
				<ion-option value="Al-Mumtahanah (The Woman who is Examined)">Al-Mumtahanah (The Woman who is Examined)</ion-option>
				<ion-option value="As-Saff (The Ranks)">As-Saff (The Ranks)</ion-option>
				<ion-option value="Al-Jumu'ah (The Congregation)">Al-Jumu'ah (The Congregation)</ion-option>
				<ion-option value="Al-Munafiqun (The Hypocrites)">Al-Munafiqun (The Hypocrites)</ion-option>
				<ion-option value="At-Taghabun (The Manifestation of Losses)">At-Taghabun (The Manifestation of Losses)</ion-option>
				<ion-option value="At-Talaq (Divorce)">At-Talaq (Divorce)</ion-option>
				<ion-option value="At-Tahrim (The Prohibition)">At-Tahrim (The Prohibition)</ion-option>
				<ion-option value="Al-Mulk (The Kingdom)">Al-Mulk (The Kingdom)</ion-option>
				<ion-option value="Al-Qalam (The Pen)">Al-Qalam (The Pen)</ion-option>
				<ion-option value="Al-Haqqah (The Sure Truth)">Al-Haqqah (The Sure Truth)</ion-option>
				<ion-option value="Al-Ma'arij (The Ways of Ascent)">Al-Ma'arij (The Ways of Ascent)</ion-option>
				<ion-option value="Nuh (Noah)">Nuh (Noah)</ion-option>
				<ion-option value="Al-Jinn (The Jinn)">Al-Jinn (The Jinn)</ion-option>
				<ion-option value="Al-Muzzammil (The One Covering Himself)">Al-Muzzammil (The One Covering Himself)</ion-option>
				<ion-option value="Al-Muddaththir (The One Wrapping Himself Up)">Al-Muddaththir (The One Wrapping Himself Up)</ion-option>
				<ion-option value="Al-Qiyamah (The Resurrection)">Al-Qiyamah (The Resurrection)</ion-option>
				<ion-option value="Al-Insan (The Man)">Al-Insan (The Man)</ion-option>
				<ion-option value="Al-Mursalat (Those Sent Forth)">Al-Mursalat (Those Sent Forth)</ion-option>
				<ion-option value="An-Naba' (The Announcement)">An-Naba' (The Announcement)</ion-option>
				<ion-option value="An-Nazi'at (Those Who Yearn)">An-Nazi'at (Those Who Yearn)</ion-option>
				<ion-option value="'Abasa (He Frowned)">'Abasa (He Frowned)</ion-option>
				<ion-option value="At-Takwir (The Folding Up)">At-Takwir (The Folding Up)</ion-option>
				<ion-option value="Al-Infitar (The Cleaving)">Al-Infitar (The Cleaving)</ion-option>
				<ion-option value="At-Tatfif (Default in Duty)">At-Tatfif (Default in Duty)</ion-option>
				<ion-option value="Al-Inshiqaq (The Bursting Asunder)">Al-Inshiqaq (The Bursting Asunder)</ion-option>
				<ion-option value="Al-Buruj (The Stars)">Al-Buruj (The Stars)</ion-option>
				<ion-option value="At-Tariq (The Comer by Night)">At-Tariq (The Comer by Night)</ion-option>
				<ion-option value="Al-A'la (The Most High)">Al-A'la (The Most High)</ion-option>
				<ion-option value="Al-Ghashiyah (The Overwhelming Event)">Al-Ghashiyah (The Overwhelming Event)</ion-option>
				<ion-option value="Al-Fajr (The Daybreak)">Al-Fajr (The Daybreak)</ion-option>
				<ion-option value="Al-Balad (The City)">Al-Balad (The City)</ion-option>
				<ion-option value="Ash-Shams (The Sun)">Ash-Shams (The Sun)</ion-option>
				<ion-option value="Al-Lail (The Night)">Al-Lail (The Night)</ion-option>
				<ion-option value="Ad-Duha (The Brightness of the Day)">Ad-Duha (The Brightness of the Day)</ion-option>
				<ion-option value="Al-Inshirah (The Expansion)">Al-Inshirah (The Expansion)</ion-option>
				<ion-option value="At-Tin (The Fig)">At-Tin (The Fig)</ion-option>
				<ion-option value="Al-'Alaq (The Clot)">Al-'Alaq (The Clot)</ion-option>
				<ion-option value="Al-Qadr (The Majesty)">Al-Qadr (The Majesty)</ion-option>
				<ion-option value="Al-Bayyinah (The Clear Evidence)">Al-Bayyinah (The Clear Evidence)</ion-option>
				<ion-option value="Al-Zilzal (The Shaking)">Al-Zilzal (The Shaking)</ion-option>
				<ion-option value="Al-'Adiyat (The Assaulters)">Al-'Adiyat (The Assaulters)</ion-option>
				<ion-option value="Al-Qari'ah (The Calamity)">Al-Qari'ah (The Calamity)</ion-option>
				<ion-option value="At-Takathur (The Abundance of WealthAt-Takathur (The Abundance of Wealth)Al-'Asr (The Time)">Al-'Asr (The Time)</ion-option>
				<ion-option value="Al-Humazah (The Slanderer)">Al-Humazah (The Slanderer)</ion-option>
				<ion-option value="Al-Fil (The Elephant)">Al-Fil (The Elephant)</ion-option>
				<ion-option value="Al-Quraish (The Quraish)">Al-Quraish (The Quraish)</ion-option>
				<ion-option value="Al-Ma'un (Acts of Kindness)">Al-Ma'un (Acts of Kindness)</ion-option>
				<ion-option value="Al-Kauthar (The Abundance of Good)">Al-Kauthar (The Abundance of Good)</ion-option>
				<ion-option value="Al-Kafirun (The Disbelievers)">Al-Kafirun (The Disbelievers)</ion-option>
				<ion-option value="An-Nasr (The Help)">An-Nasr (The Help)</ion-option>
				<ion-option value="Al-Lahab (The Flame)">Al-Lahab (The Flame)</ion-option>
				<ion-option value="Al-Ikhlas (The Unity)">Al-Ikhlas (The Unity)</ion-option>
				<ion-option value="Al-Falaq (The Dawn)">Al-Falaq (The Dawn)</ion-option>
				<ion-option value="An-Nas (The Men)">An-Nas (The Men)</ion-option>
	  		</ion-select>
		</ion-item>
	</div>

<ion-item>
  <ion-label floating>From verse</ion-label>
  <ion-input type="FromVerse" name="FromVerse" [(ngModel)]="FromVerse"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>To verse</ion-label>
  <ion-input type="ToVerse" name="ToVerse" [(ngModel)]="ToVerse"></ion-input>
</ion-item>


	<div class = "row" padding-top>
		<ion-item>
	  	<ion-label floating>Evaluation</ion-label>
	  		<ion-select [(ngModel)]="Evaluation" name="Evaluation">
	    		<ion-option value="Excellent">Excellent</ion-option>
	    		<ion-option value="Good">Good</ion-option>
	    		<ion-option value="Satisfactory">Satisfactory</ion-option>
	    		<ion-option value="Sufficient">Sufficient</ion-option>
	  		</ion-select>
		</ion-item>
	</div>


<ion-item>
  <ion-label floating>Notes</ion-label>
  <ion-input type="Notes" name="Notes" [(ngModel)]="Notes"></ion-input>
</ion-item>


<!-- Boutton "Save" à la place de l'image
  <div class = "row">
    <div align="center" class = "col"><button type="submit" style="width:40%" ion-button color="green" (click)="AddInstitute()">Save</button></div>
  </div>
!-->

    <div padding align ="center"> <button  (click)="save()" block=true>
    	<img src="assets/imgs/save.png">
    </button></div>
    <div padding align ="center"> <button  (click)="goToAchievementList()" clear=true >


    	<img style="width:20% ; height:2% " src="assets/imgs/cancel.png">
    	</button></div>




</ion-content>
